.text_contact {
    margin-top: 196px;
    font-size: 80px;
    font-weight: 700;
    line-height: 97px;
    display: flex;
    justify-content: center;
    color: white;
}

.header_start {
     background: rgba(20, 39, 74, 1);
     height: 100%;
     min-height: 465px;
}

.main_txt_for_pay {
    font-size: 60px;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 260px 0 0 330px;
    text-align: start;
    display: flex;
    justify-content: center;
}


.main_txt_her {
    margin-top: 261px ;
}

.main_txt_for_paid {
    font-size: 30px;
    width: 100%;
    max-width: 1650px;
    padding-left: 202px;
    margin: 0 auto;
}

.connects{ 
    margin-top: 167px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 570px;
    row-gap: 30px;
}

.locations {
    font-size: 40px;
    font-weight: 400;
    color: black;
}
.viewing {
    font-size: 35px;
    font-weight: 600;
    margin-top: 30px;
    color: #000;
}
.contacing_number {
    font-size: 40px;
    padding-top: 70px;
    font-weight: 500;
}
.contacing_numbers {
    color: #000;
}

.textarea {
    resize: none;
    outline: none;
    width: 100%;
    max-width: 500px;
}

.name {
    font-size: 18px;
    
}

.input {
    width: 100%;
    max-width: 500px;
    padding: 12px 34px ;
    outline: none;
    border: 2px solid rgba(20, 39, 74, 0.5);

}

.input:focus {
    border-radius: 30px;
}

.flex_for {
    display: flex;
    justify-content: center;
    column-gap: 300px;
}

.message_for_admin {
    display: flex;
    flex-direction: column;
    margin-top: 167px;
    row-gap: 20px;
    max-width: 570px;
    width: 100%;
}

.message_for_admin__inp,
.message_for_admin__textarea {
    padding: 15px;
}


button {
    font-size: 18px;
    max-width: 150px;
    width: 100%;
    padding: 15px;
    /* margin-left: 425px ; */
    /* padding-right: -10px; */
}

.nav_for_foooter_1 {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 10px; */
    padding: 100px 180px;
    /* margin-top: 500px; */
}

.input_2 {

    padding: 15px 30px;
    outline: none;
    background: none;
    border: 2px solid #e0b973 ;
    color: white;
    font-weight: 700;
    line-height: 20px;
    font-size: 14px;
}